In [2]:
import pandas as pd
import numpy as np

In [5]:
cities = pd.read_csv("cities.csv")
cities.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,rikitea,12,PF,1562648396,85,-23.12,-134.97,72.94,26.11
1,yumen,0,CN,1562648151,19,40.29,97.04,82.66,18.28
2,hithadhoo,12,MV,1562648396,77,-0.60,73.08,84.10,16.53
3,albany,1,US,1562648396,77,42.65,-73.75,68.00,3.71
4,den helder,90,NL,1562648109,71,52.96,4.76,57.20,5.82

In [6]:
cities_html = cities.to_html("cities.html", index=False)

In [ ]:
# The End